@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Font family */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
h1 {
  font-family: "Shrikhand", sans-serif;
  text-transform: lowercase;
  font-style: italic;
  font-size: 2.5rem;
}

h2, h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
}

h6 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.4rem;
  text-transform: lowercase;
  font-weight: lighter;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

button {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}

li {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

footer li {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

span {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

input {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

/*  Grid body in the file index.html */
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "restaurants" "notice" "footer";
  background-color: red;
}

header {
  grid-area: header;
}

section:first-child {
  grid-area: restaurants;
}

section:last-child {
  grid-area: notice;
}

footer {
  grid-area: footer;
}

/* Grid card_restaurant */
#card_restaurant {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(4, 270px);
  gap: 20px 0;
  grid-template-areas: "restaurant_title" "restaurant_one" "restaurant_two" "restaurant_three" "restaurant_four";
}

#card_restaurant h3 {
  grid-area: restaurant_title;
}

#card_restaurant a:nth-of-type(1) {
  grid-area: restaurant_one;
}

#card_restaurant a:nth-of-type(2) {
  grid-area: restaurant_two;
}

#card_restaurant a:nth-of-type(3) {
  grid-area: restaurant_three;
}

#card_restaurant a:nth-of-type(4) {
  grid-area: restaurant_four;
}

/* Header */
header {
  text-align: center;
  background-color: #F5F5F5;
}

header form {
  padding: 0 0 60px 0;
}

header form label {
  background-color: lightgray;
  display: block;
}

header form label i {
  width: 30%;
  text-align: right;
}

header form input {
  background-color: transparent;
  border: none;
  padding: 10px;
}

header h1 {
  background-color: #FFF;
  border-bottom: 1px solid gray;
}

header h2 {
  padding-top: 50px;
}

header p {
  color: #808080;
}

header button {
  margin-top: 50px;
}

button {
  border-radius: 30px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  height: 60px;
  width: 280px;
  border: none;
  color: white;
  box-shadow: 0 5px 10px silver;
}

/* First section in the file index.html */
#form-notice {
  padding: 60px 20px;
  background-color: #FFF;
}

#form-notice h3 {
  padding: 0 0 30px 0;
}

#form-notice ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 70px);
  grid-gap: 20px;
  margin: 0 10px 0 10px;
}

#form-notice li {
  position: relative;
  background-color: #F5F5F5;
  line-height: 70px;
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px silver;
}

#form-notice li:last-child {
  background-color: #ECE1FA;
}

#form-notice li:last-child i {
  color: #9356DC;
}

#form-notice li i {
  padding: 0 20px;
  color: gray;
}

#form-notice li:first-child::before {
  position: absolute;
  content: "1";
  background-color: #9356DC;
  border-radius: 50%;
  height: 30px;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 12px;
}

#form-notice li:nth-of-type(2)::before {
  position: absolute;
  content: "2";
  background-color: #9356DC;
  border-radius: 50%;
  height: 30px;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 12px;
}

#form-notice li:last-child::before {
  position: absolute;
  content: "3";
  background-color: #9356DC;
  border-radius: 50%;
  height: 30px;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 12px;
}

/* Second section in the file index.html */
#card_restaurant {
  padding: 20px;
  background-color: #F5F5F5;
}

#card_restaurant figure {
  height: 100%;
  position: relative;
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: 0 5px 10px silver;
}

#card_restaurant figcaption {
  height: 70px;
  padding: 10px;
}

#card_restaurant i {
  position: absolute;
  right: 20px;
  bottom: 35px;
  transform: translateY(30%);
  height: 25px;
  font-size: 25px;
}

#card_restaurant i:hover {
  background-color: #9356DC;
}

#card_restaurant span {
  position: absolute;
  top: 20px;
  padding: 5px;
  right: 20px;
  background-color: #99E2D0;
  color: #50796F;
}

#card_restaurant img {
  object-fit: cover;
  height: calc(100% - 70px);
  width: 100%;
  border-radius: 20px 20px 0 0;
}

/* footer for the multiple pages */
footer {
  padding: 20px;
  background-color: #303030;
  color: white;
}

footer > h6, footer > h5 {
  padding: 0 0 20px 0;
}

footer li i {
  width: 35px;
  text-align: center;
  padding: 0 5px;
}

/* button hover */
button:hover {
  box-shadow: 0 5px 2px silver;
  opacity: 0.6;
}

/* animation loading-spinner */
.loading-spinner {
  cursor: progress;
  position: fixed;
  width: 100%;
  height: 100%;
}

.loading-spinner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10001;
  overflow: hidden;
  background: #0b0b0b;
  opacity: 0.6;
}

.loading-spinner::after {
  box-sizing: border-box;
  z-index: 10002;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #99E2D0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: custom-loading 1s linear infinite;
}

@keyframes custom-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
