@import "_variables.scss";

/* article the file menu.html */
article {
  padding: 20px;
  margin-top: -40px;
  background-color: white;
  border-radius: 40px;
}
article #icon_love {
  position: absolute;
  right: 0;
  height: 25px;
  font-size: 25px;
  top: 50%;
  transform: translateY(-50%);
}
article h1 {
  margin: 0 0 30px 0;
}
article h2 {
  border-bottom: solid $color-tertiary 4px;
  width: 15%;
}
article .d-none {
  display: none;
}
article div {
  background-color: red;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
}
article p {
  text-align: center;
}
article button {
  display: block;
  margin: 50px auto;
  border-radius: 30px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  height: 60px;
  width: 280px;
  border: none;
  color: white;
  box-shadow: 0 5px 10px silver;
}
