@import "_variables.scss";

/* article the file menu.html */
article {
  padding: 20px;
  margin-top: -40px;
  background-color: white;
  border-radius: 40px;
}

article #icon_love {
  position: absolute;
  right: 0;
  height: 25px;
  font-size: 25px;
  top: 50%;
  transform: translateY(-50%);
}

article h1 {
  margin: 0 0 30px 0;
}

article h2 > span {
  border-bottom: solid $color-tertiary 4px;
  font-size: 1.6rem;
}

article h3, h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

article ul .card {
  display: flex;
}

article ul div {
  border-radius: 20px;
}

/* Animation slide top */
article .card-content {
  background-color: red;
  padding: 10px 20px;
  margin: 10px 0;
  width: 100%;
  animation: slide-in-fwd-center 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* Fin animation */

article .card-check {
  //display: none;
  width: 0;
  opacity: 0;
  height: 100px;
  margin: 10px 0;
}

.card:hover .card-check {
  display: block;
  background-color: green;
  border-radius: 0 20px 20px 0;


  animation: slide-in-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  position: relative;
}

/* animation slide right */
@keyframes slide-in-right {
  0% {
    width: 0;
    //transform: translateX(1000px);
    opacity: 1;
  }
  100% {
    width: 30%;
    //transform: translateX(0);
    opacity: 1;
  }
}

.card:hover .card-check i {
  position: absolute;
  color: white;
  height: 30px;
  width: 30px;
  line-height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  border: dashed 2px white;
  animation: rotate-center 1s ease-in-out both;
}
/* animation rotate center */
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.card:hover .card-content {
  border-radius: 20px 0 0 20px;
}

article p {
  text-align: center;
}

article button {
  display: block;
  margin: 50px auto;
  border-radius: 30px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  height: 60px;
  width: 280px;
  border: none;
  color: white;
  box-shadow: 0 5px 10px silver;
}
