/* Second section in the file index.html */
#card_restaurant {
  padding: 20px;
  background-color: #F5F5F5;
}
#card_restaurant figure {
  height: 100%;
  position: relative;
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: 0 5px 10px silver;
}
#card_restaurant figcaption {
  height: 70px;
  padding: 10px;
}
#card_restaurant i {
  position: absolute;
  right: 20px;
  bottom: 35px;
  transform: translateY(30%);
  height: 25px;
  font-size: 25px;
}

#card_restaurant .whole-not-hover:hover:after {
  content: '\f004';
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background: linear-gradient($color-primary, $color-secondary);
  -webkit-background-clip: text;
  animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* animation heart
 */
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

#card_restaurant span {
  position: absolute;
  top: 20px;
  padding: 5px;
  right: 20px;
  background-color: $color-tertiary;
  color: #50796F;
}
#card_restaurant img {
  object-fit: cover;
  height: calc(100% - 70px);
  width: 100%;
  border-radius: 20px 20px 0 0;
}
