/* Second section in the file index.html */
#card_restaurant {
  padding: 20px;
}
#card_restaurant figure {
  height: 100%;
  position: relative;
  border-radius: 20px;
  background-color: orange;
}
#card_restaurant figcaption {
  height: 70px;
  padding: 10px;
}
#card_restaurant i {
  position: absolute;
  right: 20px;
  bottom: 35px;
  transform: translateY(30%);
  height: 25px;
  font-size: 25px;
}
#card_restaurant span {
  position: absolute;
  top: 20px;
  padding: 5px;
  right: 20px;
  background-color: red;
}
#card_restaurant img {
  object-fit: cover;
  height: calc(100% - 70px);
  width: 100%;
  border-radius: 20px 20px 0 0;
}
