/* footer for the multiple pages */
footer {
  padding: 20px;
  background-color: #303030;
  color: white;
}
footer > h6, footer > h5 {
  padding: 0 0 20px 0;
}
footer li i {
  width: 35px;
  text-align: center;
  padding: 0 5px;
}
