@import "variables";

/* First section in the file index.html */
#form-notice {
  padding: 60px 20px;
  background-color: #FFF;
}
#form-notice h3 {
  padding: 0 0 30px 0;
}
#form-notice ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 70px);
  grid-gap: 20px;
  margin: 0 10px 0 10px;
}
#form-notice li {
  position: relative;
  background-color: #F5F5F5;
  line-height: 70px;
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px silver;
}
#form-notice li:last-child {
  background-color: #ECE1FA;
}
#form-notice li:last-child i {
  color: $color-primary;
}
#form-notice li i {
  padding: 0 20px;
  color: gray;
}
#form-notice li:first-child::before {
  position: absolute;
  content: "1";
  background-color: $color-primary;
  border-radius: 50%;
  height: 30px;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 12px;
}
#form-notice li:nth-of-type(2)::before {
  position: absolute;
  content: "2";
  background-color: $color-primary;
  border-radius: 50%;
  height: 30px;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 12px;
}
#form-notice li:last-child::before {
  position: absolute;
  content: "3";
  background-color: $color-primary;
  border-radius: 50%;
  height: 30px;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 12px;
}
