/*  Grod body in the file index.html */
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 400px 1fr 200px;
  gap: 0 0;
  grid-template-areas:
    "header"
    "section_one"
    "section_two"
    "footer";
  background-color: red;
}
header {
  grid-area: header;
}
section:first-child {
  grid-area: section_one;
}
section:last-child {
  grid-area: section_two;
}
footer {
  grid-area: footer;
}

/* Grid card_restaurant */
#card_restaurant {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 300px 300px 300px 300px;
  gap: 20px 0;
  grid-template-areas:
    "title_restaurant"
    "restaurant_one"
    "restaurant_two"
    "restaurant_three"
    "restaurant_four";
}
#card_restaurant h3 {
  grid-area: title_restaurant;
}
#card_restaurant a:nth-child(0) {
  grid-area: restaurant_one;
}
#card_restaurant a:nth-child(1) {
  grid-area: restaurant_two;
}
#card_restaurant a:nth-child(2) {
  grid-area: restaurant_three;
}
#card_restaurant a:nth-child(3) {
  grid-area: restaurant-four;
}
