/* Grid body in the file menu.html */
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 200px 1fr 200px;
  gap: 0 0;
  grid-template-areas:
    "header"
    "background-image"
    "form"
    "footer";
}
header {
  grid-area: header;
}
img {
  grid-area: background-image;
}
form {
  grid-area: form;
}
footer {
  grid-area: footer;
}

/* Grid the card in the menu */

article .card-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 40px);
  grid-template-areas: "title title"
"description price";
  align-items: center;
}
article div h3 {
  grid-area: title;
}
article div h4 {
  grid-area: description;
}
article div p {
  grid-area: price;
  line-height: 40px;
  text-align: right;
}
