/* Grid body in the file menu.html */
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 200px 1fr 200px;
  gap: 0 0;
  grid-template-areas:
    "header"
    "background-image"
    "form"
    "footer";
}
header {
  grid-area: header;
}
img {
  grid-area: background-image;
}
form {
  grid-area: form;
}
footer {
  grid-area: footer;
}
