/*  Grod body in the file index.html */
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "restaurants"
    "notice"
    "footer";
  background-color: red;
}

header {
  grid-area: header;
}

section:first-child {
  grid-area: restaurants;
}

section:last-child {
  grid-area: notice;
}

footer {
  grid-area: footer;
}

/* Grid card_restaurant */
#card_restaurant {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(4, 300px);
  gap: 20px 0;
  grid-template-areas:
    "restaurant_title"
    "restaurant_one"
    "restaurant_two"
    "restaurant_three"
    "restaurant_four";
}

#card_restaurant h3 {
  grid-area: restaurant_title;
}

#card_restaurant a:nth-of-type(1) {
  grid-area: restaurant_one;
}

#card_restaurant a:nth-of-type(2) {
  grid-area: restaurant_two;
}

#card_restaurant a:nth-of-type(3) {
  grid-area: restaurant_three;
}

#card_restaurant a:nth-of-type(4) {
  grid-area: restaurant_four;
}
