/* Header */
header {
  text-align: center;
  background-color: #F5F5F5;
}
header form {
  padding: 0 0 60px 0;
}
header form label {
  background-color: lightgray;
  display: block;
}
header form label i {
  width: 30%;
  text-align: right;
}
header form input {
  background-color: transparent;
  border: none;
  padding: 10px;
}
header h1 {
  background-color: #FFF;
  border-bottom: 1px solid gray;
}
header h2 {
  padding-top: 50px;
}
header p {
  color: #808080;
}
header button {
  margin-top: 50px;
}
button {
  border-radius: 30px;
  background: linear-gradient(to bottom, $color-secondary, $color-primary);
  height: 60px;
  width: 280px;
  border: none;
  color: white;
  box-shadow: 0 5px 10px silver;
}

