/* Header */
header {
  text-align: center;
  padding: 20px;
}
header h2 {
  padding-top: 50px;
}
header button {
  margin-top: 50px;
}
button {
  border-radius: 30px;
  background: linear-gradient(to right, $color-secondary, $color-primary);
  height: 60px;
  width: 280px;
  border: none;
}

