/* Header menu */
header {
  position: relative;
}
header a:first-child {
  position: absolute;
  top: 20px;
  left: 20px;
}
header a:last-child {
  display: block;
  text-align: center;
  height: 70px;
  line-height: 70px;
}
header i {
  height: 25px;
  font-size: 25px;
}
