@import "variables";
@import "fontmenu";
@import "grid-menu";
@import "header-menu";
@import "gridcardmenu";

/* the image before the form */
#background-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

@import "article-menu";
@import "footer";

