@import "variables";
@import "font-index";
@import "grid-index";
@import "header-index";
@import "form-notice";
@import "card-restaurant";
@import "footer";

/* button hover */
button:hover {
  box-shadow: 0 5px 2px silver;
  opacity: 0.6;
}

/* animation loading-spinner */
.loading-spinner {
  cursor: progress;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(11, 11, 11, 0.6);
  animation: custom-loading-close 1s linear forwards, 1s custom-loading-none 1s linear forwards;
  z-index: 999;
}

.loading-spinner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  overflow: hidden;

}

.loading-spinner::after {
  box-sizing: border-box;

  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid $color-tertiary;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: custom-loading 1s linear infinite;
}

@keyframes custom-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes custom-loading-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes custom-loading-none {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 0%;
    height: 0%;
  }
}
